@use '../ForAll/colors' as color;

.Cart-page {
        background-color: color.$MainColor;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
}

.Cart-Top{
        background-color: color.$SecondColor;
        height: 15vh;
        display: flex;
        flex-direction: row;
        align-items: center;
}

.Cart-Logo{
        max-width: 8vw;
        max-height: 8vw;
        margin-left: 1vw;
}

.Cart-Top > p {
        margin-left: 1vw;
        font-size: 35px;
        color: color.$MainColor;
}

.Cart-AddButton{
        color : color.$MainColor;
        background-color: transparent;
        border: none;
        font-size: 50px;
        font-weight: bolder;
        margin-left: 55vw;
}

.Cart-RechercheBar{
        display: flex;
        align-items: center;
        flex-direction: row;
        border: color.$MainColor solid 2px;	
        border-radius: 20px;
        min-height: 6vh;
        margin-left: 1vw;
        min-width: 10vw;
}

.Cart-RechercheBar > img{
        max-width: 2vw;
        max-height: 2vw;
        margin-left: 1vw;
        margin-right: 1vw;
        padding-right: 1vw;
        border-right: color.$MainColor 2px solid;
}

.Cart-Center {
        background-color: color.$SecondColor;
        height: 80vh;
        display: flex;
        flex-direction: row;
        align-items: center;
}

.Cart-Center-Left {
        background-color: color.$MainColor;
        height: 70vh;
        width: 30vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10%;
        margin-top: 3%;
}

.Cart-Center-Right {
        background-color: color.$MainColor;
        height: 70vh;
        width: 30vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 3%;

}

.Cart-Center-Top {
        background-color: aqua;
        height: 30vh;
        width: 30vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10%;
        margin-top: -6.5%;
}

.Cart-Center-Bottom {
        background-color: color.$MainColor;
        height: 30vh;
        width: 30vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10%;
        margin-top: -6.5%;
}

p1 {
    font-weight:bold;
    font-family: 'Patrick Hand', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: color.$SecondColor;
    margin-top: 2vh;
    
}
