@use '../ForAll/colors' as color;

.HomePage-page {
    background-color: color.$MainColor;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.HomePage-Logo{
    max-width: 8vw;
    max-height: 8vw;
    margin-left: 1vw;
}

.HomePage-AddButton{
    color : color.$MainColor;
    background-color: transparent;
    border: none;
    font-size: 50px;
    font-weight: bolder;
    margin-left: 55vw;
}

.HomePage-whitefont{
    color: color.$SecondColor;
}

.HomePage-CheckBox{
    //Todo : checkbox
    background-color: red;
}
.HomePage-page > h2{
    color: color.$SecondColor;
    margin-left: 1vw;
    margin-top: 1vh;
}
.HomePage-Products{
    display :flex;
    flex-direction: row;
    margin-left: 2vw;
    overflow-y: scroll;
}